  /* Estilos para el contenedor principal */
  .Cuerpo {
    background-image: url(./imagen/clima3.jpg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ajusta la altura al 100% del viewport */
    padding: 60px;
    box-sizing: border-box;
    overflow-y: auto;
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  }

  /* Estilos para los elementos internos dentro del contenedor */
  .Cuerpo > * {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    max-width: 800px; /* Limita la expansión del contenido */
    margin-left: auto; /* Centra el contenido horizontalmente */
    margin-right: auto; /* Centra el contenido horizontalmente */ 
  }

/* Estilos para el Dashbord */
.Dashbord {
  background-color:  rgba(9, 9, 9, 0.8);
  color: white;
  width: 200px;
  padding: 40px;
  height: 100vh;
  left: 0;
  z-index: 1;
  position: absolute;
}

.Dashbord ul {
  list-style: none;
  padding: 0;
}

.Dashbord li {
  margin-bottom: 20px;
}

.Dashbord a {
  text-decoration:none; /* se utiliza en CSS para eliminar o desactivar la decoración de texto predeterminada */
  color: white;
  font-size: 20px;
}
/* Estilos para el selector */
.Select {
  border-radius: 40px;
  margin-bottom: 30px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  padding: 25px;
  color: white;
  border: 2px solid #000;
  font-size: 20px;
}

/* Estilos para el estado actual */
.estado-actual {
  color: rgb(247, 244, 243);
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(214, 193, 167);
  padding: 4px;
  max-width: 800px;
}

/* Estilos para el título */
.tiempo {
  display: block;
  text-align: center;
  margin-top: 20px;
}

/* Estilos para los estados */
.estados {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.Imagen {
  background-image: url(./imagen/perrito.jpg);
  width: 100%;
  height: 15%;
  border-radius: 50%;
  margin-bottom: 50px;
}

